<div id="tagline">
  <!-- let's keep the laughter to a minimum... -->
  that half arsed web comic of mine is getting WAY to much attention...
  <a href="http://cff.ssw.net/forum/viewtopic.php?p=33522#33522">(archangel)</a>
</div>

<div id="logo">
  <%= link_to image_tag('title.png', :alt => 'Title picture: THE VERY FIRST HAIBANE, all pixels by archangel'), first_strip_path %>
</div>

<div id="read">
  <%= link_to 'read the comic', first_strip_path %>
</div>

<div id="backlink">
  or visit the
  <%= link_to 'original thread', 'http://cff.ssw.net/forum/viewtopic.php?t=1713' %>
  at
  <a href="http://cff.ssw.net/forum/">Old Home BB</a>
</div>

<div id="downloads">
  
  <h2>Archives</h2>
  
  <table>
    <tr>
      <td>
        <h3>I</h3>
        <a href="archive/first_haibane_0001-0099.zip">#1 &ndash; #99</a>
        <h4>1.5 MB (zip)</h4>
      </td>
      <td>
        <h3>II</h3>
        <a href="archive/first_haibane_0101-0200.zip">#101 &ndash; #200</a>
        <h4>1.9 MB (zip)</h4>
      </td>
      <td>
        <h3>III</h3>
        <a href="archive/first_haibane_0201-0250.zip">#201 &ndash; #250</a>
        <h4>1.4 MB (zip)</h4>
      </td>
      <td>
        <h3>IV</h3>
        <a href="archive/first_haibane_0252-0300.zip">#252 &ndash; #300</a>
        <h4>1.5 MB (zip)</h4>
      </td>
      <td>
        <h3>V</h3>
        <a href="archive/first_haibane_0301-0364.zip">#301 &ndash; #364</a>
        <h4>2.1 MB (zip)</h4>
      </td>
    </tr>
  </table>
  
  <h2>Videos</h2>
  
  <table>
    <tr>
      <td>
        <h3>First</h3>
        <a href="strips/first_haibane_0100.gif">#100</a>
        <h4>3.5 MB (gif)</h4>
      </td>
      <td>
        <h3>Second</h3>
        <a href="strips/first_haibane_0251.gif">#251</a>
        <h4>138 KB (gif)</h4>
      </td>
      <td>
        <h3>Third</h3>
        <a href="strips/first_haibane_0365.gif">#365</a>
        <h4>890 KB (gif)</h4>
      </td>
    </tr>
  </table>
  
  <h2>Specials</h2>
  
  <%= link_to 'List', '/special/' %>
</div>

<div id="footer">
  Last updated: Tuesday, 2007-11-25<br />
  webmaster: murphy, contact: murphy rubychan de (you know, fill in the usual symbols)
</div>
